/* основний колір тексту #212121; */
/* другий колір тексту #757575; */
/* основний фон #FFFFFF; */
/* вториний колір фону #F5F4FA; */
/* колір фону героя і футера #2F303A */
/* акцент #2196F3; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}


body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

/* логотип */

.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
}

span {
    font-family: Raleway;
color: var(--accent-color);
}

ul {
    list-style: none;
}

/* навігація */

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* селектор героя */

.hero {
    background-color: #2F303A;
}

 .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
 }

.button-hero {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    border-color: var(--primary-white-color);
}

/* секція особливості */

 .features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
 }

 .features-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
 }

 /* секція чим ми займаємось */

.work-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* секція наша команда */

.team {
    background-color: #F5F4FA;;
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-profession {
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
}

/* футер */

.address {
    background-color: #2F303A;
}

.address-link {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    color: var(--primary-white-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-mail,
.address-number {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover, 
.address-mail:focus {
    color: var(--accent-color);
}

.address-number:hover,
.address-number:focus {
color: var(--accent-color);
}

/* кнопки сторінки портфоліо */

.buttons-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    cursor: pointer;
}

.buttons-list:hover,
.buttons-list:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* посилання на роботи в портфоліо */

.portfolio-link {
    text-decoration: none;
}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
} 

.portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-text-color);
}

